@import 'variables';
@import 'mixins';

h1,h2,h3,h4{
    font-family: 'Darker Grotesque', sans-serif;
}
p{
    font-family: 'Raleway', sans-serif;
}

.bg-color-container{
    background-color: $color_menu;
    #navbarNavDropdown{
        justify-content: flex-end;
    }
}
.navbar-nav{
    li{
        a{
            color: $white;
            text-decoration: none;
        }
    }
}
.footer{
    background-color: $color_menu;
    .text-footer{
        p{
            text-align: center;
            color: $white;
            margin: 0;
        }
    }
    .logo-footer{
        display: flex;
        justify-content: center;
        padding: 20px 0px;
    }
    .title-footer{
        h4{
            text-align: center;
        }
    }
    .iconos-redes-sociales{
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                display: inline-block;
                padding: 0 5px;
                width: 50px;
                height: 50px;
                background-color: rgba($color: #817e7e, $alpha: 0.5);
                border-radius: 50%;
                text-align: center;
                line-height: 50px;
                a{
                    color: $white;
                    font-size: 28px;
                    text-align: center;
                }
            }
        }
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;

    }
}

//Codigo proyecto
.home {
    #sliderHome{
        .carousel-item{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            min-height: 90vh;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 90vh;
                background-color: rgba($color: #000000, $alpha: 0.3);
                @include breakpoint-max-width(lg){
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 550px;
                    background-color: rgba(0,0,0,0.3);
                }
            }
            @include breakpoint-max-width(lg){
                min-height: 550px;
            }
        }
    }
    .container-text-bienvenida{
        .row {
            h1{
                font-size: 47px;
                margin: 32px 0px;
            }
            p{
                font-size: 22px;
            }
        }
    }
    .container-sobre-nosotros {
        .imagen{
            img{
                border-radius: 50%;
                box-shadow: 0px 1px 9px 5px rgba(168, 168, 168, 1);
            }
            @include breakpoint-max-width(md){
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
            }
        }
        .texto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                @include breakpoint-max-width(md){
                    text-align: center;
                }
            }
            p{
                @include breakpoint-max-width(md){
                    text-align: justify;
                }
            }
        }
    }
    .block-gallery{
        .col-imagenes{
            padding: 0;
            margin: 0;
            img{
                max-width: 100%;
                display: block;
            }
            a{
                display: block;
                //Efecto zoom imagenes
                img{
                    -webkit-transition: all 0.5s ease;//Safari y Chrome
                    -moz-transition: all 0.5s ease;//Firefox
                    -ms-transition: all 0.5s ease;//IE
                    -o-transition: all 0.5s ease;//Opera
                    transition: all 0.5s ease;//Todos los navegadores
                }
                &:hover{
                    img{
                        -webkit-transform: scale(1.30); //Safari y Chrome
                        -moz-transform: scale(1.30); //Firefox
                        -ms-transform: scale(1.30); //IE
                        -o-transfrom: scale(1.30); //Opera
                        transform: scale(1.30); //Todos los navegadores
                    }
                }
                width: 100%;
                height: auto;
                overflow: hidden;
            }
        }
        .zoom{
            a{
                &:before{
                    content: '';
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.3);
                    width: 100%;
                    height: 100%;
                }
            }
            display: block;
            position: relative;
        }
    }
    .block-gallery-text{
        .texto {
            text-align: center;
            font-size: 22px;
        }
    }

    //Bloque de experiencias
    .container-experiencias{
        background-color: #f9f9f9;
        .title-section{
            display: flex;
            justify-content: center;
            p{
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            }
        }
        .title-page {
            h2{
                text-align: center;
            }
        }
        .class-button-page{
            display: flex;
            justify-content: center;
        }
        .imagen {
            padding: 0;
        }
        .texto{
            background-color: white;
            padding: 40px;
            text-align: justify;
        }
        .seccion_01{
            padding-top: 60px;
            justify-content: center;
        }
        .seccion_02{
            padding-bottom: 60px;
            justify-content: center;
            .imagen{
                order: 1;
            }
            .texto{
                order: 2;
            }
        }
    }
    //Bloque de parallax
    .container-parallax{
        width: 100%;
        height: 500px;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 500px;
            background-color: rgba(0,0,0,0.5);
        }
        .container {
            position: relative;
            height: 100%;
            .row{
                display: flex;
                justify-content: center;
                height: 100%;
                .texto{
                    text-align: center;
                    color: white;
                    p{
                        font-weight: bold;
                    }
                }
                .col-parallax{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }
    //Bloque ubicacion
    .container-ubicacion{
        .col-ubicacion{
            display: flex;
            flex-direction: column;
            justify-content: center;
            span{
                color: #0d6efd !important;
            }
            @include breakpoint-max-width(md){
                margin-bottom: 20px;
                display: grid;
            }
        }
    }
    .map iframe{
        width: 100%;
        height: 400px;
    }

    //Bloque Newsletter
    .container-newsletter{
        .col-text{
            text-align: center;
        }
        .form-email{
            input[type="email"]{
                height: 60px;
                border-radius: 0px;
                &:focus{
                    border-color: rgb(95, 95, 50);
                    box-shadow: 0 1px 1px rgba(229,103,23,0.075)inset, 0 0 8px rgb(95, 95, 50);
                    outline: 0 none;
                }
            }
        }
        .btn-outline-primary{
            background-color: #000000;
            border-color: #000000;
            color: #fff;
            &:hover{
                color: rgb(228, 160, 33);
            }
        }
    }
}

.boton-reserva{
    display: flex;
    justify-content: center;
    .btn-primary{
        background-color: rgb(228, 160, 33);
        border-color: rgb(228, 160, 33);
        &:hover{
            background-color: #ffa600;
            border-color: #ffa600;
            color: white;
        }
        &:focus{
            border-color: rgb(95, 95, 50);
            box-shadow: 0 1px 1px rgba(229, 103, 23,0.075) inset, 0 0 8px rgb(95, 95, 50);
            outline: 0 none;
        }
    }
}

.row-divider {
    padding: 40px 0;
    .divider{
        display: flex;
        width: 100%;
        border-bottom: 1px solid #cccccc8c;
    }
}

.class-button-page{
    .btn-outline-primary{
        color: rgb(228, 160, 33);
        border-color: rgb(228, 160, 33);
        &:hover{
            background-color: rgb(228, 160, 33);
            border-color: rgb(228, 160, 33);
            color: $white;
        }
        &:focus{
            border-color: rgb(95, 95, 50);
            box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgb(95, 95, 50);
            outline: 0;
        }
    }
}

//Top header
.top-header{
    .header-top-imagen{
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-color: rgba($color: #000000, $alpha: 0.5);
            width: 100%;
            height: 400px;
        }
        h1{
            text-align: center;
            color: white;
            z-index: 2;
        }
    }
}
//page habitaciones
.page-template-page-habitaciones{
    .col-one-room{
        .imagen{
            width: 100%;
            position: relative;
            &::before{
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(39, 39, 39, 0.5);
                position: absolute;
            }
            .starts-rooms{
                position: absolute;
                margin-top: -80px;
                margin-left: 15px;
                .start{
                    color: #eecf38;
                }
                .text-name{
                    color: $white;
                }
            }
        }
        .contenido{
            border: 1px solid rgba($color: #d4d4d466, $alpha: 0.4);
            padding: 10px 15px;
            p{
                color: #585858;
            }
            .row-icons-rooms{
                p{
                    font-size: 10px;
                    font-weight: bold;
                    span{
                        font-size: 14px;
                    }
                }
            }
            .rooms-title{
                text-decoration: none;
                color: #000000;
            }
            .info-rooms{
                color: #585858;
                a{
                    color: #585858;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .row-divider{
                margin: -10px 0;
            }
        }
    }
    //Paginado
    .paginate-links{
        display: contents;
        .page-numbers{
            border: 1px solid rgba($color: #000000, $alpha: 0.5);
            padding: 7px 10px;
        }
        .current{
            background-color: rgb(228, 160, 33);
            color: $white;
        }
        .next{
            border: none;
        }
        .prev{
            border: none;
        }
    }
}

//Calendario
#sidebar-blog{
    @include breakpoint-max-width(md){
        margin-bottom: 40px;
    }
    table{
        caption{
            text-transform: uppercase;
            color: #ffa600;
            font-weight: bold;
        }
        tr{
            td{
                background-color: #000000;
                color: $white;
            }
            .pad{
                border: none;
            }
            #today{
                background-color: rgb(228, 160, 33);
                color: $white
            }
        }
    }
    nav{
        display: none;
    }
}

//Single page habitaciones
.container-rooms{
    .titulos{
        h3{
            font-size: 40px;
        }
    }
    .calificacion{
        .start{
            color: #eecf38;
        }
        .start_black{
            color: a1a1a1;
        }
    }
    .imagen-gallery{
        position: relative;
        a{
            .content-number{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                color: $white;
                font-size: 32px;
                line-height: 50%;
                div{
                    width: 100%;
                    height: 100%;
                    span{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
    .row-divider{
        padding: 18px 0;
    }
    .row-icons-info{
        .icon-info{
            font-size: 32px;
            color: #585858;
        }
    }
}

//BLOG
.container-blog{
    .row-blog{
        .blog-image{
            a{
                display: flex;
                width: 100%;
                height: 100%;
                box-shadow: 3px 6px 8px 9px rgba(63, 46, 46, 0.3);
            }
        }
        .blog-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .content{
                box-shadow: 3px 6px 8px 9px rgba(63, 46, 46, 0.3);
                padding: 20px 20px;
                @include breakpoint(xl){
                    height: 300px;
                }
                @include breakpoint(xxl){
                    height: 300px;
                }
            }
        }
    }
}

//Servicios
.container-servicios{
    //Paginado
    .paginate-links{
        display: contents;
        .page-numbers{
            border: 1px solid rgba($color: #000000, $alpha: 0.5);
            padding: 7px 10px;
        }
        .current{
            background-color: rgb(228, 160, 33);
            color: $white;
        }
        .next{
            border: none;
        }
        .prev{
            border: none;
        }
    }
}

//Page contacto
.container-contacto{
    .form-contacto{
        label{
            width: 100%;
        }
        input{
            width: 100%;
            border: 1px solid rgba(212, 212, 212, 0.8);
            background-color: rgba(212, 212, 212, 0.3);
            padding: 5px 0;
        }
        textarea{
            width: 100%;
            border: 1px solid rgba(212, 212, 212, 0.8);
            background-color: rgba(212, 212, 212, 0.3);
            padding: 5px 0;
        }
    }
    .boton-reserva{
        justify-content: flex-start;
    }
}

//Sidebar contacto
#sidebar-contacto{
    padding: 0 20px;
    .contenido{
        a{
            color: #000;
        }
    }
}

//Page contacto
.map iframe {
    width: 100%;
    height: 400px;
}