@import 'variables';
@import 'mixins';

h1,h2,h3,h4{
    font-family: 'Darker Grotesque', sans-serif;
}
p{
    font-family: 'Raleway', sans-serif;
}

.bg-color-container{
    background-color: $color_menu;
    #navbarNavDropdown{
        justify-content: flex-end;
    }
}
.navbar-nav{
    li{
        a{
            color: $white;
            text-decoration: none;
        }
    }
}
.footer{
    background-color: $color_menu;
    .text-footer{
        p{
            text-align: center;
            color: $white;
        }
    }
    .logo-footer{
        display: flex;
        justify-content: center;
        padding: 20px 0px;
    }
    .title-footer{
        h4{
            text-align: center;
        }
    }
    .iconos-redes-sociales{
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                display: inline-block;
                padding: 0 5px;
                width: 50px;
                height: 50px;
                background-color: rgba($color: #817e7e, $alpha: 0.5);
                border-radius: 50%;
                text-align: center;
                line-height: 50px;
                a{
                    color: $white;
                    font-size: 28px;
                    text-align: center;
                }
            }
        }
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;

    }
}

//Codigo proyecto
.home {
    #sliderHome{
        .carousel-item{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            min-height: 90vh;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 90vh;
                background-color: rgba($color: #000000, $alpha: 0.3);
                @include breakpoint-max-width(lg){
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 550px;
                    background-color: rgba(0,0,0,0.3);
                }
            }
            @include breakpoint-max-width(lg){
                min-height: 550px;
            }
        }
    }
    .container-text-bienvenida{
        .row {
            h1{
                font-size: 47px;
                margin: 32px 0px;
            }
            p{
                font-size: 22px;
            }
        }
    }
}

.row-divider {
    padding: 40px 0;
    .divider{
        display: flex;
        width: 100%;
        border-bottom: 1px solid #cccccc8c;
    }
}
