@import 'variables';
@import 'mixins';

h1,h2,h3,h4{
    font-family: 'Darker Grotesque', sans-serif;
}
p{
    font-family: 'Raleway', sans-serif;
}

.bg-color-container{
    background-color: $color_menu;
    #navbarNavDropdown{
        justify-content: flex-end;
    }
}
.navbar-nav{
    li{
        a{
            color: $white;
            text-decoration: none;
        }
    }
}
.footer{
    background-color: $color_menu;
    .text-footer{
        p{
            text-align: center;
            color: $white;
        }
    }
    .logo-footer{
        display: flex;
        justify-content: center;
        padding: 20px 0px;
    }
    .title-footer{
        h4{
            text-align: center;
        }
    }
    .iconos-redes-sociales{
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                display: inline-block;
                padding: 0 5px;
                width: 50px;
                height: 50px;
                background-color: rgba($color: #817e7e, $alpha: 0.5);
                border-radius: 50%;
                text-align: center;
                line-height: 50px;
                a{
                    color: $white;
                    font-size: 28px;
                    text-align: center;
                }
            }
        }
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;

    }
}

//Codigo proyecto
.home {
    #sliderHome{
        .carousel-item{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            min-height: 90vh;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 90vh;
                background-color: rgba($color: #000000, $alpha: 0.3);
                @include breakpoint-max-width(lg){
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 550px;
                    background-color: rgba(0,0,0,0.3);
                }
            }
            @include breakpoint-max-width(lg){
                min-height: 550px;
            }
        }
    }
    .container-text-bienvenida{
        .row {
            h1{
                font-size: 47px;
                margin: 32px 0px;
            }
            p{
                font-size: 22px;
            }
        }
    }
    .container-sobre-nosotros {
        .imagen{
            img{
                border-radius: 50%;
                box-shadow: 0px 1px 9px 5px rgba(168, 168, 168, 1);
            }
            @include breakpoint-max-width(md){
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
            }
        }
        .texto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                @include breakpoint-max-width(md){
                    text-align: center;
                }
            }
            p{
                @include breakpoint-max-width(md){
                    text-align: justify;
                }
            }
        }
    }
    .block-gallery{
        .col-imagenes{
            padding: 0;
            margin: 0;
            img{
                max-width: 100%;
                display: block;
            }
            a{
                display: block;
                //Efecto zoom imagenes
                img{
                    -webkit-transition: all 0.5s ease;//Safari y Chrome
                    -moz-transition: all 0.5s ease;//Firefox
                    -ms-transition: all 0.5s ease;//IE
                    -o-transition: all 0.5s ease;//Opera
                    transition: all 0.5s ease;//Todos los navegadores
                }
                &:hover{
                    img{
                        -webkit-transform: scale(1.30); //Safari y Chrome
                        -moz-transform: scale(1.30); //Firefox
                        -ms-transform: scale(1.30); //IE
                        -o-transfrom: scale(1.30); //Opera
                        transform: scale(1.30); //Todos los navegadores
                    }
                }
                width: 100%;
                height: auto;
                overflow: hidden;
            }
        }
        .zoom{
            a{
                &:before{
                    content: '';
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.3);
                    width: 100%;
                    height: 100%;
                }
            }
            display: block;
            position: relative;
        }
    }
    .block-gallery-text{
        .texto {
            text-align: center;
            font-size: 22px;
        }
    }
}

.boton-reserva{
    display: flex;
    justify-content: center;
    .btn-primary{
        background-color: rgb(228, 160, 33);
        border-color: rgb(228, 160, 33);
        &:hover{
            background-color: #ffa600;
            border-color: #ffa600;
            color: white;
        }
        &:focus{
            border-color: rgb(95, 95, 50);
            box-shadow: 0 1px 1px rgba(229, 103, 23,0.075)inset, 0 0 8px rgb(95, 95, 50);
            outline: 0 none;
        }
    }
}

.row-divider {
    padding: 40px 0;
    .divider{
        display: flex;
        width: 100%;
        border-bottom: 1px solid #cccccc8c;
    }
}
