h1, h2, h3, h4 {
  font-family: 'Darker Grotesque', sans-serif; }

p {
  font-family: 'Raleway', sans-serif; }

.bg-color-container {
  background-color: #000; }
  .bg-color-container #navbarNavDropdown {
    justify-content: flex-end; }

.navbar-nav li a {
  color: #fff;
  text-decoration: none; }

.footer {
  background-color: #000; }
  .footer .text-footer p {
    text-align: center;
    color: #fff;
    margin: 0; }
  .footer .logo-footer {
    display: flex;
    justify-content: center;
    padding: 20px 0px; }
  .footer .title-footer h4 {
    text-align: center; }
  .footer .iconos-redes-sociales {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px; }
    .footer .iconos-redes-sociales ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .footer .iconos-redes-sociales ul li {
        display: inline-block;
        padding: 0 5px;
        width: 50px;
        height: 50px;
        background-color: rgba(129, 126, 126, 0.5);
        border-radius: 50%;
        text-align: center;
        line-height: 50px; }
        .footer .iconos-redes-sociales ul li a {
          color: #fff;
          font-size: 28px;
          text-align: center; }

.home #sliderHome .carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 90vh; }
  .home #sliderHome .carousel-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.3); }
    @media screen and (max-width: 992px) {
      .home #sliderHome .carousel-item::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 550px;
        background-color: rgba(0, 0, 0, 0.3); } }
  @media screen and (max-width: 992px) {
    .home #sliderHome .carousel-item {
      min-height: 550px; } }
.home .container-text-bienvenida .row h1 {
  font-size: 47px;
  margin: 32px 0px; }
.home .container-text-bienvenida .row p {
  font-size: 22px; }
.home .container-sobre-nosotros .imagen img {
  border-radius: 50%;
  box-shadow: 0px 1px 9px 5px #a8a8a8; }
@media screen and (max-width: 768px) {
  .home .container-sobre-nosotros .imagen {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; } }
.home .container-sobre-nosotros .texto {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .home .container-sobre-nosotros .texto h2 {
      text-align: center; } }
  @media screen and (max-width: 768px) {
    .home .container-sobre-nosotros .texto p {
      text-align: justify; } }
.home .block-gallery .col-imagenes {
  padding: 0;
  margin: 0; }
  .home .block-gallery .col-imagenes img {
    max-width: 100%;
    display: block; }
  .home .block-gallery .col-imagenes a {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden; }
    .home .block-gallery .col-imagenes a img {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .home .block-gallery .col-imagenes a:hover img {
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transfrom: scale(1.3);
      transform: scale(1.3); }
.home .block-gallery .zoom {
  display: block;
  position: relative; }
  .home .block-gallery .zoom a:before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%; }
.home .block-gallery-text .texto {
  text-align: center;
  font-size: 22px; }
.home .container-experiencias {
  background-color: #f9f9f9; }
  .home .container-experiencias .title-section {
    display: flex;
    justify-content: center; }
    .home .container-experiencias .title-section p {
      border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
  .home .container-experiencias .title-page h2 {
    text-align: center; }
  .home .container-experiencias .class-button-page {
    display: flex;
    justify-content: center; }
  .home .container-experiencias .imagen {
    padding: 0; }
  .home .container-experiencias .texto {
    background-color: white;
    padding: 40px;
    text-align: justify; }
  .home .container-experiencias .seccion_01 {
    padding-top: 60px;
    justify-content: center; }
  .home .container-experiencias .seccion_02 {
    padding-bottom: 60px;
    justify-content: center; }
    .home .container-experiencias .seccion_02 .imagen {
      order: 1; }
    .home .container-experiencias .seccion_02 .texto {
      order: 2; }
.home .container-parallax {
  width: 100%;
  height: 500px;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .home .container-parallax::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5); }
  .home .container-parallax .container {
    position: relative;
    height: 100%; }
    .home .container-parallax .container .row {
      display: flex;
      justify-content: center;
      height: 100%; }
      .home .container-parallax .container .row .texto {
        text-align: center;
        color: white; }
        .home .container-parallax .container .row .texto p {
          font-weight: bold; }
      .home .container-parallax .container .row .col-parallax {
        display: flex;
        flex-direction: column;
        justify-content: center; }
.home .container-ubicacion .col-ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .home .container-ubicacion .col-ubicacion span {
    color: #0d6efd !important; }
  @media screen and (max-width: 768px) {
    .home .container-ubicacion .col-ubicacion {
      margin-bottom: 20px;
      display: grid; } }
.home .map iframe {
  width: 100%;
  height: 400px; }
.home .container-newsletter .col-text {
  text-align: center; }
.home .container-newsletter .form-email input[type="email"] {
  height: 60px;
  border-radius: 0px; }
  .home .container-newsletter .form-email input[type="email"]:focus {
    border-color: #5f5f32;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px #5f5f32;
    outline: 0 none; }
.home .container-newsletter .btn-outline-primary {
  background-color: #000000;
  border-color: #000000;
  color: #fff; }
  .home .container-newsletter .btn-outline-primary:hover {
    color: #e4a021; }

.boton-reserva {
  display: flex;
  justify-content: center; }
  .boton-reserva .btn-primary {
    background-color: #e4a021;
    border-color: #e4a021; }
    .boton-reserva .btn-primary:hover {
      background-color: #ffa600;
      border-color: #ffa600;
      color: white; }
    .boton-reserva .btn-primary:focus {
      border-color: #5f5f32;
      box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px #5f5f32;
      outline: 0 none; }

.row-divider {
  padding: 40px 0; }
  .row-divider .divider {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #cccccc8c; }

.class-button-page .btn-outline-primary {
  color: #e4a021;
  border-color: #e4a021; }
  .class-button-page .btn-outline-primary:hover {
    background-color: #e4a021;
    border-color: #e4a021;
    color: #fff; }
  .class-button-page .btn-outline-primary:focus {
    border-color: #5f5f32;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px #5f5f32;
    outline: 0; }

.top-header .header-top-imagen {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  position: relative; }
  .top-header .header-top-imagen::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 400px; }
  .top-header .header-top-imagen h1 {
    text-align: center;
    color: white;
    z-index: 2; }

.page-template-page-habitaciones .col-one-room .imagen {
  width: 100%;
  position: relative; }
  .page-template-page-habitaciones .col-one-room .imagen::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.5);
    position: absolute; }
  .page-template-page-habitaciones .col-one-room .imagen .starts-rooms {
    position: absolute;
    margin-top: -80px;
    margin-left: 15px; }
    .page-template-page-habitaciones .col-one-room .imagen .starts-rooms .start {
      color: #eecf38; }
    .page-template-page-habitaciones .col-one-room .imagen .starts-rooms .text-name {
      color: #fff; }
.page-template-page-habitaciones .col-one-room .contenido {
  border: 1px solid rgba(212, 212, 212, 0.4);
  padding: 10px 15px; }
  .page-template-page-habitaciones .col-one-room .contenido p {
    color: #585858; }
  .page-template-page-habitaciones .col-one-room .contenido .row-icons-rooms p {
    font-size: 10px;
    font-weight: bold; }
    .page-template-page-habitaciones .col-one-room .contenido .row-icons-rooms p span {
      font-size: 14px; }
  .page-template-page-habitaciones .col-one-room .contenido .rooms-title {
    text-decoration: none;
    color: #000000; }
  .page-template-page-habitaciones .col-one-room .contenido .info-rooms {
    color: #585858; }
    .page-template-page-habitaciones .col-one-room .contenido .info-rooms a {
      color: #585858;
      text-decoration: none; }
      .page-template-page-habitaciones .col-one-room .contenido .info-rooms a:hover {
        text-decoration: underline; }
  .page-template-page-habitaciones .col-one-room .contenido .row-divider {
    margin: -10px 0; }
.page-template-page-habitaciones .paginate-links {
  display: contents; }
  .page-template-page-habitaciones .paginate-links .page-numbers {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 7px 10px; }
  .page-template-page-habitaciones .paginate-links .current {
    background-color: #e4a021;
    color: #fff; }
  .page-template-page-habitaciones .paginate-links .next {
    border: none; }
  .page-template-page-habitaciones .paginate-links .prev {
    border: none; }

@media screen and (max-width: 768px) {
  #sidebar-blog {
    margin-bottom: 40px; } }
#sidebar-blog table caption {
  text-transform: uppercase;
  color: #ffa600;
  font-weight: bold; }
#sidebar-blog table tr td {
  background-color: #000000;
  color: #fff; }
#sidebar-blog table tr .pad {
  border: none; }
#sidebar-blog table tr #today {
  background-color: #e4a021;
  color: #fff; }
#sidebar-blog nav {
  display: none; }

.container-rooms .titulos h3 {
  font-size: 40px; }
.container-rooms .calificacion .start {
  color: #eecf38; }
.container-rooms .calificacion .start_black {
  color: a1a1a1; }
.container-rooms .imagen-gallery {
  position: relative; }
  .container-rooms .imagen-gallery a .content-number {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 32px;
    line-height: 50%; }
    .container-rooms .imagen-gallery a .content-number div {
      width: 100%;
      height: 100%; }
      .container-rooms .imagen-gallery a .content-number div span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
.container-rooms .row-divider {
  padding: 18px 0; }
.container-rooms .row-icons-info .icon-info {
  font-size: 32px;
  color: #585858; }

.container-blog .row-blog .blog-image a {
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: 3px 6px 8px 9px rgba(63, 46, 46, 0.3); }
.container-blog .row-blog .blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .container-blog .row-blog .blog-content .content {
    box-shadow: 3px 6px 8px 9px rgba(63, 46, 46, 0.3);
    padding: 20px 20px; }
    @media (min-width: 1200px) and (max-width: 1399.98px) {
      .container-blog .row-blog .blog-content .content {
        height: 300px; } }
    @media (min-width: 1400px) {
      .container-blog .row-blog .blog-content .content {
        height: 300px; } }

.container-servicios .paginate-links {
  display: contents; }
  .container-servicios .paginate-links .page-numbers {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 7px 10px; }
  .container-servicios .paginate-links .current {
    background-color: #e4a021;
    color: #fff; }
  .container-servicios .paginate-links .next {
    border: none; }
  .container-servicios .paginate-links .prev {
    border: none; }

.container-contacto .form-contacto label {
  width: 100%; }
.container-contacto .form-contacto input {
  width: 100%;
  border: 1px solid rgba(212, 212, 212, 0.8);
  background-color: rgba(212, 212, 212, 0.3);
  padding: 5px 0; }
.container-contacto .form-contacto textarea {
  width: 100%;
  border: 1px solid rgba(212, 212, 212, 0.8);
  background-color: rgba(212, 212, 212, 0.3);
  padding: 5px 0; }
.container-contacto .boton-reserva {
  justify-content: flex-start; }

/*# sourceMappingURL=atr-public.css.map */
